:root {
	--main-bg-color: #c4aad8;	/* pinkish purple=RGB(196,170,216) */
	--main-text-color: #333;		/* dark grey */
	--main-link-color: #000;	/* black */


}
.container {
  width: 66.67%;
  margin: auto;
}

.card {
  border-color: gray;
}

.delbutton {
  border-color: red;
}

.login {
  margin-right: 5%;
  box-shadow: 0 0 10px black;
  width: 45%;
  background-color: white;
}

.submitButton {
  background-color: var(--main-bg-color);
  border: 2px solid black;
  color: white;
}

@media only screen and (max-width: 777px) {
  .login {
    margin-right: 0%;
    width: 100%;
    margin-bottom: 5%;
  }
}
